<section class="subscribe-form">
    <h3 class="subscribe-form-title">Inscreva-se no {{@site.title}}</h3>
    <p class="subscribe-form-description">Receba as atualiazações do blogue na sua caixa de email</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="email@exemplo.com" autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">Inscrever</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Ótimo!</strong> Confira sua caixa de email e clique no linque enviado para confirmar a sua inscrição.
        </div>
        <div class="message-error">
            Por favor, insira um email válido!
        </div>
    </form>
</section>